version: '3'
services:
  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    # Node.jsのグローバル変数です。開発用途なのでdevelopmentを指定します。
    environment:
      - NODE_ENV=development
    volumes:
      - ./front:/front
    command: sh -c 'npm i && npm run build && npm run dev'
    ports:
      - 8000:5173
    tty: true
